<header>
<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">

		<a id="logo-container" href="#" class="brand-logo center"><h4><b>TEXTILES.COM</b></h4></a>
		<!--<ul id="nav-mobile" class="right hide-on-med-and-down">
			
			<li><a href="index.html"><i class="material-icons left">home</i>Principal</a></li>
			

		</ul>-->
	</div>
</nav>
</header>
<section>
<!--cabezera de la sesion principal-->
<header>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<h1 class="header center blue-text text-lighten-1 ">Logo</h1>
			<br>
		</div>
	</div>
</header>
<article>
<div class="container">
<div class="row">
 	<form class="row" action="" method="post" name="FormEntrar">
 		<div class="col s4">
 		</div>
 		<div class="col s4 center">

			<select class="browser-default" ng-model="permiso">
			      <option value="Admin">Admin</option>
			      <option value="Analista">Analista</option>
			      <option value="Vendedor">Vendedor</option>
		</select>
		<br>
		  <input type="text" class="form-control" name="correo" placeholder="Numbre Usuario" id="Correo" aria-describedby="sizing-addon1">
		  <br>
		  <input type="password" name="contra" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon1" ><!--required-->
		  <br>
		  <br>
		  <a class="waves-effect blue btn center" ng-click="DarPermiso()" href="#!{{url}}">Iniciar sesion</a>
		  <br>
		  <br>
		  <!--<a href="">Registrarse</a>-->
		  <br>
		  <br>
		</div>
 	</form>
 </div>	
 </div>
</article>
</section>