<header>
	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper container">

			<a id="logo-container" href="#" class="brand-logo">TEXTIL.COM</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<!--<li><a href="#!config"><i class="material-icons left">add_circle</i>Agregar</a></li>
				<li><a href="#!registrarProveedor"><i class="material-icons left">assignment_ind</i>Proveedor</a></li>
				<li><a href="#!registrarProducto"><i class="material-icons left">find_in_page</i>Producto</a></li>-->
				<li><a href="#!registroCompras"><i class="material-icons left">add_shopping_cart</i>Compras</a></li>
				<li><a href="index.html"><i class="material-icons left">highlight_off</i>Cerrar</a></li>
				<!--<li><a class="dropdowm-trigger" data-target="dropdown1" href="#"><i class="material-icons left">menu</i>Menu</a></li>-->
			</ul>

				<!--menu responsi-->
			<ul id="nav-mobile" class="sidenav">
				<li>
					<div class="user-view">
					      <div class="background">
					        <img src="image/portada1.jpg">
					      </div>
					      <!--<a href="#user"><img class="circle" src="image/tela1.jpg"></a>-->
					      <!--<a href="#name"><span class="white-text name">John Doe</span></a>-->
					      <br><br>
					      
				    </div>
				</li>
					<li><a class="subheader">MENU</a></li>
					<li><a href="Login.html"><i class="material-icons left">account_circle</i>Usuario</a></li>
					<li><a href="#!config"><i class="material-icons left">add_circle</i>Agregar</a></li>
					<li><a href="#!registrarProveedor"><i class="material-icons left">assignment_ind</i>Proveedor</a></li>
					<li><a href="#!registrarProducto"><i class="material-icons left">find_in_page</i>Producto</a></li>
					<li><a href="#!registroCompras"><i class="material-icons left">add_shopping_cart</i>Compras</a></li>
					<!--<li><a class="dropdowm-trigger" data-target="dropdown1" href="#"><i class="material-icons left">menu</i>Menu</a></li>-->				
					<li><a href="index.html"><i class="material-icons left">home</i>Inicio</a></li>
            </ul>

			     <!--boton del menu responsi-->
      		<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      			<!--fin boton del menu responsi-->
      		<!--fin del menu responsi-->
		</div>
	</nav>
</header>
<!--fin de la cabezera-->

<!--seccion principal-->
<section>
	<!--cabezera de la sesion principal-->
	<header>
		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
				<h1 class="header center blue-text text-lighten-1 ">Textiles.com</h1>
				<div class=" center">
				<h5 class="header center "> </h5>
				</div>
				<br><br>
			</div>
		</div>
	</header>
	<!--fin de la cabezera sesion principal-->

<article>
<div class="container">
<div class="section">

<!--   Icon Section   -->
<div class="row">
<div class="col s12 m4 center">
	<div class="icon-block">
		<div class="center"><img src="image/tela1.jpg"></div>
		<h5 class="center">Tela Alemana</h5>

		<p class="light">Oferton de la semana lleva un metro por solo</p>
		<button class="waves-effect blue btn"><b>$24.000</b></button>
		</div>	
	</div>

	<div class="col s12 m4 center">
		<div class="icon-block">
			<div class="center"><img src="image/tela2.jpg"></div>
			<h5 class="center">Tela Japonesa</h5>

			<p class="light">Oferton de la semana lleva un metro por solo</p>
			<button class="waves-effect blue btn" ><b>$15.000</b></button>
			</div>
		</div>

		<div class="col s12 m4 center">
			<div class="icon-block">
				<div class="center"><img src="image/tela3.jpg"></div>
				<h5 class="center">Tela Lunar</h5>

				<p class="light">Oferton de la semana lleva un metro por solo</p>
				<button class="waves-effect blue btn"><b>$10.000</b></button>
				</div>
			</div>
		</div>

	</div>
	<br><br>
</div>

</article>
<!-- fin articulo de la primera fila-->

<!--articulo de la segunda fila-->
<article>
<div class="container">
	<div class="section">

		
		<div class="row">
			<div class="col s12 m4 center">
				<div class="icon-block">
					<div class="center"><img src="image/tela4.jpg"></div>
					<h5 class="center">Seda RosaCarnal</h5>

					<p class="light">Oferton de la semana lleva un metro por solo</p>
					<button class="waves-effect blue btn"><b>$5.000</b></button>
					</div>	
				</div>

				<div class="col s12 m4 center">
					<div class="icon-block">
						<div class="center" ><img src="image/tela5.jpg"></div>
						<h5 class="center" ng-model="nuevocomenta.title">Lila Juvenil</h5>
						<p id="Holu" class="light">Oferton de la semana lleva un metro por solo</p>
						<input ng-model="nuevocomenta.text" hidden="true" value="Holu">
						<button class="waves-effect blue btn" ng-click="comentanuevo()"><b>$2.000</b></button>
						</div>
					</div>

					<div class="col s12 m4 center">
						<div class="icon-block">
							<div class="center"><img src="image/tela6.jpg"></div>
							<h5 class="center">Combo Seda Juventud</h5>

							<p class="light">Oferton de la semana lleva un metro por solo</p>
							<button class="waves-effect blue btn" ><b>$5.000</b></button>
							</div>
						</div>
					</div>

				</div>
				<br><br>

				<div class="container">
					<ul>
						<li ng-repeat="comenta in comenta">

							{{comenta.title}} - <b>{{comenta.text}}</b>
							
						</li>
					</ul>
				</div>

			</div>

		</article>
		<!--fin articulo de la segunda fila-->